<div class="navbar navbar-inverse" ng-controller="navbarController">
    <div class="navbar-inner">
        <div class="container">
            <a class="navbar-brand" href="#"><b>Recipi</b></a>
            <button class="btn btn-navbar pull-right" ng-click="" ng-if="!isAuthenticated"><i class="fa fa-sign-in"></i> Login</button>
            <button class="btn btn-navbar pull-right" ng-click="logout()" ng-if="isAuthenticated"><i class="fa fa-sign-in"></i> Logout</button>
            <ul class="nav navbar-nav">
                <li><a href="#home"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="#recipes"><i class="fa fa-cutlery"></i> Recipes</a></li>
                <li><a href="#recipe/edit"><i class="fa fa-file-text"></i> New</a></li>
            </ul>
        </div>
    </div>
</div>