<div>
    <h1>{{ recipe.name }}</h1>
    <div class="" id="tags">
        Tags:
        <span ng-repeat="tag in recipe.tags" class="label label-primary">
            {{ tag.name }}
        </span>
    </div>
    <h2>Ingredients</h2>
    <div class="" id="ingredients">
        <ul>
            <li ng-repeat="ingredient in ingredients">
                {{ amount[ingredient] }} {{ unit[ingredient] }} - {{ ingredient }}
            </li>
        </ul>
    </div>
    <h2>Steps</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Step</th>
            <th>Ingredient</th>
            <th>Description</th>
            <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="step in steps">
            <td>{{step.number}}</td>
            <td>{{step.ingredient}}</td>
            <td>{{step.description}}</td>
            <td>{{step.amount}} {{step.unit}}</td>
        </tr>
        </tbody>
    </table>
</div>