<div>
    <h1>
        Recipes
    </h1>
    <table class="table table-striped" style="width: 75%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="recipe in recipes">
            <td>{{recipe.name}}</td>
            <td>
                <span ng-repeat="tag in recipe.tags" class="label label-primary">
                    {{ tag.name }}
                </span>
            </td>
            <td><a href="#recipe?id={{recipe.id}}">View</a></td>
            <td><a href="#recipe/edit?id={{recipe.id}}">Edit</a></td>
        </tr>
        </tbody>
    </table>
</div>