<form novalidate class="form-signin" method="post" ng-submit="login()">
    <h2 class="form-signin-heading">Please log in</h2>
    <label for="uname" class="sr-only">Username</label>
    <input type="text" ng-model="username" id="uname" class="form-control" placeholder="Username" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" ng-model="password" id="inputPassword" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <br>
</form>